USE [QL_SHOPTHOITRANG]
GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MAHD] [nchar](30) NOT NULL,
	[MASANPHAM] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [int] NULL,
	[GIAGOC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MAPN] [nchar](30) NOT NULL,
	[MASANPHAM] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL,
	[THANHTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GIOI]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIOI](
	[GIOITINH] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[GIOITINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [nchar](30) NOT NULL,
	[NGAYLAP] [datetime] NULL,
	[MAKHACHHANG] [int] NULL,
	[ID] [nvarchar](10) NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[SDT] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAISANPHAM]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAISANPHAM](
	[MALOAI] [nvarchar](50) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANCC] [nchar](30) NOT NULL,
	[TENNCC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SODIENTHOAI] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[ID] [nvarchar](10) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[NGAYSINH] [datetime] NULL,
	[EMAIL] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SODIENTHOAI] [int] NULL,
	[Image] [nvarchar](max) NULL,
	[ADMIN] [bit] NOT NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPN] [nchar](30) NOT NULL,
	[ID] [nvarchar](10) NULL,
	[MANCC] [nchar](30) NULL,
	[NGAYLAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUYEN](
	[ADMIN] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [nvarchar](50) NOT NULL,
	[TENSANPHAM] [nvarchar](150) NULL,
	[MALOAI] [nvarchar](50) NULL,
	[MATHUONGHIEU] [nvarchar](50) NULL,
	[DONGIA] [int] NULL,
	[SOLUONGSP] [int] NULL,
	[LOINHUAN] [float] NULL,
	[MOTA] [nvarchar](max) NULL,
	[NGAYCAPNHAT] [date] NULL,
	[HINHANH] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATHUONGHIEU] [nvarchar](50) NOT NULL,
	[TENTHUONGHIEU] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUONGHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TIENTHOI]    Script Date: 28/11/2019 6:05:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIENTHOI](
	[tienthoi] [int] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [THANHTIEN], [GIAGOC]) VALUES (N'HD04484                       ', N'SP15', 2, 330000, 165000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [THANHTIEN], [GIAGOC]) VALUES (N'HD04484                       ', N'SP34', 3, 2145000, 715000)
INSERT [dbo].[CHITIETHOADON] ([MAHD], [MASANPHAM], [SOLUONG], [THANHTIEN], [GIAGOC]) VALUES (N'HD054746                      ', N'SP1', 1, 385000, 385000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASANPHAM], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN01435                       ', N'SP13', 20, 150000, 3000000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASANPHAM], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN026992                      ', N'SP1', 127, 350000, 44450000)
INSERT [dbo].[CHITIETPHIEUNHAP] ([MAPN], [MASANPHAM], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (N'PN026992                      ', N'SP10', 13, 350000, 4550000)
INSERT [dbo].[GIOI] ([GIOITINH]) VALUES (N'Nam')
INSERT [dbo].[GIOI] ([GIOITINH]) VALUES (N'Nữ')
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKHACHHANG], [ID], [TONGTIEN]) VALUES (N'HD04484                       ', CAST(0x0000AB1300000000 AS DateTime), 168, N'4', 2475000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKHACHHANG], [ID], [TONGTIEN]) VALUES (N'HD054746                      ', CAST(0x0000AB1300000000 AS DateTime), 166, N'4', 1870000)
INSERT [dbo].[HOADON] ([MAHD], [NGAYLAP], [MAKHACHHANG], [ID], [TONGTIEN]) VALUES (N'HD091043                      ', CAST(0x0000AB1300000000 AS DateTime), 167, N'4', 2200000)
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (17, N'Nguyễn Thị Thùy Dương', N'0582442079', N'Nữ', CAST(0x00008E8C00000000 AS DateTime), N'Mỹ Tho - Tiền Giang ')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (18, N'Đỗ Thị Mỹ Diễm', N'0379008219', N'Nữ', CAST(0x0000AB1F00000000 AS DateTime), N'115/46 Lê Trọng Tấn, Tân Phú, TP HCM')
INSERT [dbo].[KHACHHANG] ([MAKHACHHANG], [TENKHACHHANG], [SDT], [GIOITINH], [NGAYSINH], [DIACHI]) VALUES (20, N'Phạm Quốc Nhiên', N'379008219', N'Nam', CAST(0x0000AB1F00000000 AS DateTime), N'115/46 Lê Trọng Tấn, Tân Phú, TP HCM')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'L01', N'Đầm')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'L02', N' Chân váy')
INSERT [dbo].[LOAISANPHAM] ([MALOAI], [TENLOAI]) VALUES (N'L03', N' Áo thun')
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SODIENTHOAI]) VALUES (N'NCC001                        ', N'UNILIVER', N'ĐỒNG NAI', 123456789)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SODIENTHOAI]) VALUES (N'NCC002                        ', N'LIPTON', N'HÀ NỘI', 123546999)
INSERT [dbo].[NHACUNGCAP] ([MANCC], [TENNCC], [DIACHI], [SODIENTHOAI]) VALUES (N'NCC003                        ', N'KDKDK', N'D1', 5555)
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [UserName], [PassWord], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [SODIENTHOAI], [Image], [ADMIN]) VALUES (N'1', N'Lê Tâm Uyên Trang', N'trang', N'123', N'Nữ', CAST(0x00008DFA00000000 AS DateTime), N'ngocrong193@gmail.com', N'TPHCM', 343399929, N'1.jpg', 1)
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [UserName], [PassWord], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [SODIENTHOAI], [Image], [ADMIN]) VALUES (N'2', N'Lê Nguyễn Tỉ Phú', N'lephu', N'123', N'Nam', CAST(0x00008DFA00000000 AS DateTime), N'ngocrong193@gmail.com', N'TPHCM', 76767, N'49135439_2238505183089932_3541379180421709824_n.jpg', 0)
INSERT [dbo].[NHANVIEN] ([ID], [HOTEN], [UserName], [PassWord], [GIOITINH], [NGAYSINH], [EMAIL], [DIACHI], [SODIENTHOAI], [Image], [ADMIN]) VALUES (N'4', N'Nguyễn Chí Sanh', N'sanh', N'123', N'Nam', CAST(0x00008DFA00000000 AS DateTime), N'nguyenchisanh1999@gmail.com', N'TPHCM', 343399929, N'74579095_464478517515956_4302508464002826240_n.jpg', 1)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [ID], [MANCC], [NGAYLAP], [TONGTIEN]) VALUES (N'PN01435                       ', N'4', N'NCC002                        ', CAST(0x0000AB1300000000 AS DateTime), 3000000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [ID], [MANCC], [NGAYLAP], [TONGTIEN]) VALUES (N'PN026992                      ', N'4', N'NCC001                        ', CAST(0x0000AB1300000000 AS DateTime), 69700000)
INSERT [dbo].[PHIEUNHAP] ([MAPN], [ID], [MANCC], [NGAYLAP], [TONGTIEN]) VALUES (N'PN032031                      ', N'4', N'NCC003                        ', CAST(0x0000AB1300000000 AS DateTime), 44200000)
INSERT [dbo].[QUYEN] ([ADMIN]) VALUES (0)
INSERT [dbo].[QUYEN] ([ADMIN]) VALUES (1)
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [DONGIA], [SOLUONGSP], [LOINHUAN], [MOTA], [NGAYCAPNHAT], [HINHANH]) VALUES (N'SP1', N'Đầm bông trắng', N'L01', N'TH1', 350000, 126, 0.1, N'Đầm trắng hợp với tiết trời vào thu, cổ tim mang lại cảm giác mong manh, khoe trọn xương quai xanh quyến rũ và tinh tế, chân váy dài giữ sự thanh lịch, dịu dàng, sự kết hợp trong thiết kế mang lại cho bạn vẻ đẹp mong manh nhưng không thiếu đi nét quyến rũ', CAST(0x0C3F0B00 AS Date), N'Dam1.jpg')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [DONGIA], [SOLUONGSP], [LOINHUAN], [MOTA], [NGAYCAPNHAT], [HINHANH]) VALUES (N'SP10', N'Đầm ren cổ nâu', N'L01', N'TH4', 350000, 6, 0.1, N'Sản phẩm như minh họa', CAST(0xFC3F0B00 AS Date), N'Dam10.jpg')
INSERT [dbo].[SANPHAM] ([MASANPHAM], [TENSANPHAM], [MALOAI], [MATHUONGHIEU], [DONGIA], [SOLUONGSP], [LOINHUAN], [MOTA], [NGAYCAPNHAT], [HINHANH]) VALUES (N'SP11', N'Chân váy xếp tầng', N'L02', N'TH1', 150000, 129, 0.1, N'Sản phẩm như minh họa', CAST(0x1D400B00 AS Date), N'Chanvay1.jpg')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU]) VALUES (N'TH1', N'NOSBYN')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU]) VALUES (N'TH2', N'THE BLUE T-SHIRT')
INSERT [dbo].[THUONGHIEU] ([MATHUONGHIEU], [TENTHUONGHIEU]) VALUES (N'TH3', N'COCOSIN')
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__NHANVIEN__C9F28456FE48A218]    Script Date: 28/11/2019 6:05:39 PM ******/
ALTER TABLE [dbo].[NHANVIEN] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETHOADON]  WITH CHECK ADD FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[CHITIETPHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MAPN])
REFERENCES [dbo].[PHIEUNHAP] ([MAPN])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD FOREIGN KEY([GIOITINH])
REFERENCES [dbo].[GIOI] ([GIOITINH])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([ADMIN])
REFERENCES [dbo].[QUYEN] ([ADMIN])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([GIOITINH])
REFERENCES [dbo].[GIOI] ([GIOITINH])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([ID])
REFERENCES [dbo].[NHANVIEN] ([ID])
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACUNGCAP] ([MANCC])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAISANPHAM] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD FOREIGN KEY([MATHUONGHIEU])
REFERENCES [dbo].[THUONGHIEU] ([MATHUONGHIEU])
GO
